<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include ./partials/nav.ejs %>
    <div>
        <div class="cards w-[90%] mx-auto my-5 flex flex-wrap items-center gap-10">
            <% posts.forEach(function(elem) { %>
                <div class="card w-[20%] h-full rounded-md  ">
                    <div>
                        <img class="w-full rounded-md h-full object-cover" src="/images/uploads/<%= elem.image %>"/>
                    </div>
                    <a href="" class="text-2xl"><%= elem.title %></a>
                    <h5><%= user.username %></h5> <!-- Assuming you want to show the logged-in user's username -->
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>
